<html>
<head>
<title>client side</title>
</head>
<body>
<div id='woot'></div>
<script type='text/javascript'>
  var context = {{{context}}};
  var template = {{{template}}};
</script>
</body>
</html>
